{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Slides {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}

    <div class="row">
        <div>

            <!-- Static Backdrop modal Button -->

            <form id="form-0" name="accounts_listing" method="post" action=""
                  enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Static Backdrop Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">

                        <div class="modal-content">
                            <div class="modal-body">

                                <h3 class="modal-title text-center" id="staticBackdropLabel">Add New User</h3>
                                <div class="py-2">
                                    <label class="form-label text-dark">User Name</label>
                                    <input class="form-control" type="text"
                                           placeholder="Input user name" name="new_user_name"
                                           id="new_user_name" required onblur="confirmPassword()">
                                </div>
                                <div class="py-2">
                                    <label class="form-label text-dark">User Email</label>
                                    <input class="form-control" type="email"
                                           placeholder="Input user email" name="new_user_email"
                                           id="new_user_email" required onblur="confirmPassword()">
                                    <input type="hidden" name="action" value="add-user">
                                    <input type="hidden" name="organization_id" value="{{ request.GET.organization }}">
                                    <input type="hidden" name="organization_name"
                                           value="{{ request.GET.organization_name }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="addUserBtn" class="btn btn-dark disabled">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="card rounded overflow-hidden">
                <div class="card-body rounded overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center my-4">
                        <h5>Add New User</h5>
                        <button type="button"
                                class="btn btn-outline-dark waves-effect waves-light fw-semibold "
                                data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            <i class="mdi mdi-account-outline font-size-20 align-middle me-1"></i> Invite User
                        </button>
                    </div>


                    <div class="table-responsive">
                        <table id="datatable"
                               class="table table-bordered dt-responsive  nowrap w-100 rounded overflow-hidden">

                            <thead class="border-bottom">
                            <tr>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Institution</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for user in user_data %}

                                <tr>
                                    <td>{{ user.user_full_name }}</td>
                                    <td>{{ user.email }}</td>

                                    <td>
                                        {{ user.user_organization_name }}
                                    </td>
                                    <td style="text-transform: capitalize;">
                                        {{ user.status }}
                                    </td>
                                    <td>
                                        <div class="btn-group dropstart">

                                            <i class="mdi mdi-dots-horizontal dropdown-toggle waves-effect waves-light"
                                               data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <div class="dropdown-menu z-999">
                                                {% if user.status == "active" %}
                                                    <p class="dropdown-item text-danger m-0 " style="cursor: pointer"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#delete-modal-{{ forloop.counter }}">Remove</p>
                                                {% else %}
                                                    <p class="dropdown-item text-danger m-0 " style="cursor: pointer"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#activate-modal-{{ forloop.counter }}">Active</p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                <div class="modal fade " id="delete-modal-{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered ">
                                        <div class="modal-content p-4 w-75 ">

                                            <div>
                                                <h3>Delete {{ user.user_full_name }}</h3>
                                                <p class="text-gray-100">
                                                    You are going to delete it permanently.
                                                </p>
                                                {#                                                <h6 class="text-primary fw-bolder"> Read Carefully</h6>#}

                                            </div>

                                            <div class="modal-body ">
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <div>
                                                        <input type="hidden" name="email"
                                                               value="{{ user.email }}">
                                                        <input type="hidden" name="user_id"
                                                               value="{{ user.id }}">
                                                        <input type="hidden" name="action"
                                                               value="delete-user">
                                                        <div class="row ">
                                                            <p class="w-100 btn col-lg-3" data-bs-dismiss="modal">Cancel</p>
                                                            <button type="submit" class="w-100 btn btn-primary col-lg-3"
                                                                    id="form_button">Confirm
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade " id="activate-modal-{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered ">
                                        <div class="modal-content p-4 w-75 ">

                                            <div>
                                                <h3>Active {{ user.user_full_name }} ?</h3>
                                                <p class="text-gray-100">
                                                    This action will allow the user to login.
                                                </p>
                                                {#                                                <h6 class="text-primary fw-bolder"> Read Carefully</h6>#}

                                            </div>

                                            <div class="modal-body ">
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <div>
                                                        <input type="hidden" name="email"
                                                               value="{{ user.email }}">
                                                        <input type="hidden" name="user_id"
                                                               value="{{ user.id }}">
                                                        <input type="hidden" name="action"
                                                               value="activate-user">
                                                        <div class="row ">
                                                              <p class="w-100 btn col-lg-3" data-bs-dismiss="modal">Cancel</p>
                                                            <button class="w-100 btn btn-primary col-lg-3"
                                                                    id="form_button">Confirm
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end add user -->




                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {#                            <tr>#}
                    {#                                <td>{{ forloop.counter }}</td>#}
                    {#                                <td class="font-size-14 fw-bold">{{ data.name }}</td>#}
                    {#                                <td class=" text-center">#}
                    {#                                    <div>#}
                    {#                                        <button type="button" id="organization-{{ data.org_id }}"#}
                    {#                                                class="btn btn-primary waves-effect waves-light">#}
                    {#                                            <i class="mdi mdi-city-variant-outline font-size-16 align-middle me-1"></i>#}
                    {#                                            Switch#}
                    {#                                        </button>#}
                    {##}
                    {#                                        <button type="button" id="addUser-{{ data.org_id }}"#}
                    {#                                                class="btn btn-primary waves-effect waves-light "#}
                    {#                                                data-bs-toggle="modal" data-bs-target="#modal-{{ data.org_id }}" onclick="UserFormValidation()">#}
                    {#                                            <i class="mdi mdi-account-plus font-size-16 align-middle me-1"></i> Add User#}
                    {#                                        </button>#}
                    {##}
                    {#                                    </div>#}
                    {#                                </td>#}
                    {##}
                    {#                            </tr>#}
                    {% for data in context %}
                        <!-- /.modal -->
                    {% endfor %}


                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
    <div class="col-lg-6">

        {% if messages %}
            {% for message in messages|slice:":1" %}

                <div class="modal fade show" style="display: block ; background-color: rgba(0,0,0,.5)" id="secondmodal"
                     aria-hidden="true" aria-labelledby="..." tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-4 text-center">
                            {% if message.tags == "error" %}

                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <i class="mdi mdi-close-circle  text-danger m-0 p-0" style="font-size: 150px"></i>
                                    <h2 class="fw-bold " style="margin-top: -20px">Failed</h2>
                                    <p class="fw-semibold mb-4">{{ message }}</p>
                                    <button class="btn btn-primary w-75" onclick="hideModel()">Try
                                        Again
                                    </button>
                                </div>
                            {% else %}
                                <div class="d-flex flex-column justify-content-center align-items-center">

                                    <i class="mdi mdi-checkbox-marked-circle  text-success m-0"
                                       style="font-size: 150px"></i>
                                    <h2 class="fw-bold " style="margin-top: -20px">Success</h2>
                                    <p class="fw-semibold mb-4">{{ message }}</p>
                                    <button class="btn btn-primary w-75" onclick="hideModel()">
                                        Done
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block extra_javascript %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
    <script>
        function hideModel() {
            window.location.href = window.location.href
            document.getElementById('secondmodal').style.display = "none";

        }
    </script>
    <script>
        function confirmPassword() {
            var input1 = document.getElementById('new_user_name').value;
            var input2 = document.getElementById('new_user_email').value;
            if (input1 !== "" && input2 !== "") {
                var element = document.getElementById("addUserBtn");
                element.classList.remove("disabled");
            }
        }

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
{% endblock %}