{% extends "partials/base.html" %}

{% load static %}

{% block title %} Slides {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



{% block content %}
    <div class="card card-body mb-4 w-100">
        <div class="d-flex flex-wrap  justify-content-between align-items-center">
            <div class="col col-md-6 col-lg-3 col-xl-4">
                <h5>Select Your Data First</h5>
            </div>
            <div>
                <form method="get" action="" class="d-flex flex-wrap">
                    <select class="form-select m-1 w-auto" name="template_name" id="template_name">
                        <option value="default" selected="selected">Select Template</option>

                        {% for single_dropdown_item in custom_template_list %}
                            {% if request.GET.template_name and  single_dropdown_item == request.GET.template_name %}
                                <option value="{{ single_dropdown_item }}" selected>{{ single_dropdown_item }}</option>
                            {% else %}
                                <option value="{{ single_dropdown_item }}">{{ single_dropdown_item }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select class="form-select m-1 w-auto" name="file_name_filter" id="file_name_filter">
                        <option value="default" selected="selected">Select Data Source</option>

                        {% for single_dropdown_item in uploaded_csv_files %}
                            {% if filters.file_name_filter and filters.file_name_filter == single_dropdown_item %}
                                <option value="{{ single_dropdown_item }}" selected>{{ single_dropdown_item }}</option>
                            {% else %}
                                <option value="{{ single_dropdown_item }}">{{ single_dropdown_item }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>

                    {% if render_page == "full_template" %}
                        <input type="hidden" name="render_page" value="full_template">

                    {% else %}
                        <input type="hidden" name="render_page" value="lower_third">
                    {% endif %}
                    <input type="hidden" name="sorting_filter" value="default">


                    <input type="submit" class="btn btn-primary m-1" value="Submit">

                </form>


            </div>
        </div>
    </div>
    <div class="row" id="parentCard" style="flex-wrap: wrap; align-items: stretch;">
        <div class="col-xl-9 col-lg-8">
            <div class="card p-4" id="slideTemplateCard">
                {% if render_page == "full_template" %}
                    {#                    {% include 'home/full_template_preview.html' %}#}
                    {% include 'home/customize_full_template_skeleton.html' %}
                {% else %}
                    {% include 'home/slide_only_template_for_download.html' %}

                {% endif %}
            </div>

        </div>

        <div class="col-xl-3 col-lg-4">
            <div class="card" id="studentListingCard">
                <div class="card-body">

                    <p><b>Student
                        List</b></p>
                    <div class="search-box me-2">
                        <div class="position-relative">
                            <input type="text" id="student_nameSearch" class="form-control border-0"
                                   onkeyup="searchFunction()" placeholder="Search..." style="background-color: #F3F3F9">
                            <i class="bx bx-search-alt search-icon"></i>
                        </div>
                    </div>

                    {#                    <div class="input-group me-2 me-lg-3 fmxw-400">#}
                    {#                        <input type="text"  class="form-control"#}
                    {#                               placeholder="Search here" title="Type in a name">#}
                    {#                    </div>#}
                    <hr/>
                    <div style="overflow: auto" id="listingHeight">
                        <ol class="list-group list-group-numbered" id="scrollableDiv"
                        >

                            {% for studentObj in slidesView %}

                                    <script>
                                        if ({{ forloop.counter }}==1)
                                        {
                                            console.log("HERE YOU GO: " +{{ studentObj }})
                                        }

                                    </script>


                                <li class="list-group-item draggable" id="{{ studentObj.id }}"
                                    draggable="true"
                                    onclick="onStudentNameClick(this.id)">
                                    <a style="display: none" href="#"> {{ studentObj.name }}</a>
                                    {{ studentObj.name }}
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary w-100 mb-2" id="playButton" onclick="changeAutoplayState()">
                                Autoplay: on
                            </button>
                            <button class="btn btn-primary w-100" data-bs-toggle="modal"
                                    data-bs-target="#modal-notification">Settings
                            </button>
                        </div>
                        <button class="col-6 btn btn-primary" onclick="nextPage()">Next
                        </button>
                    </div>


                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end row -->
    <div class="card p-4 flex flex-row justify-content-center align-items-center">
        {% if query_params and query_params.strip %}

            <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="prevPage()">
                    <i class="bx bx-left-arrow font-size-16 align-middle me-2"></i> Previous
                </button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="nextPage()">
                    Next <i class="bx bx-right-arrow font-size-16 align-middle"></i>
                </button>
                <form method="post" action="">
                    {% csrf_token %}
                    <input id="download_type" type="hidden" name="download_type" value="single">
                    <input id="student_id" type="hidden" name="student_id">
                    <input id="render_page" type="hidden" name="render_page" value={{ render_page }}>
                    <input id="file_name_filter" type="hidden" name="file_name_filter"
                           value={{ filters.file_name_filter }}>
                    <input id="template_id" type="hidden" name="template_id"
                           value={{ custom_css.id }}>
                    <button type="submit" class="btn btn-warning waves-effect waves-light">
                        <i class="mdi mdi-arrow-down-bold  font-size-16 align-middle me-2"></i> Download
                    </button>
                </form>
                <form method="post" action="">
                    {% csrf_token %}

                    <input id="download_type" type="hidden" name="download_type" value="all">
                    <input id="render_page" type="hidden" name="render_page" value={{ render_page }}>
                    <input id="file_name_filter" type="hidden" name="file_name_filter"
                           value={{ filters.file_name_filter }}>
                    <input id="template_id" type="hidden" name="template_id"
                           value={{ custom_css.id }}>

                    <button type="submit" class="btn btn-danger waves-effect waves-light">
                        <i class="mdi mdi-arrow-down-bold-circle-outline font-size-16 align-middle me-2"></i>
                        Download All
                    </button>
                </form>
                <button type="button" class="btn btn-dark waves-effect waves-light"
                        onclick="speakerSlideHandler('{{ render_page }}')">
                    <i class="mdi mdi-arrow-expand-all bx-spin font-size-16 align-middle me-2"></i> Full Screen
                </button>
                <button type="button" class="btn btn-light waves-effect" onclick="speakerWindowHandler()">
                    <i class="mdi mdi-application font-size-16 align-middle me-2"></i> Notes
                </button>
                <button type="button" class="btn btn-light waves-effect" data-bs-toggle="offcanvas"
                        data-bs-target="#add_studentData" aria-controls="offcanvasRight">
                    <i class="mdi mdi-application font-size-16 align-middle me-2"></i> Add Student
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="add_studentData"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Add Data</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Add Student Data</h4>
                                <form id="form-0" name="premier_slides" method="post" action=""
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="placeholder_one" class="form-label">Placeholder 1</label>
                                                <input type="text" class="form-control" name="placeholder_one"
                                                       id="placeholder_one" placeholder="Enter Your Placeholder 1">
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="placeholder_two" class="form-label">Placeholder 2</label>
                                                <input type="text" class="form-control" name="placeholder_two"
                                                       id="placeholder_two" placeholder="Enter Your Placeholder 2">
                                            </div>

                                        </div>


                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="placeholder_three" class="form-label">Placeholder 3</label>
                                                <input type="text" class="form-control" name="placeholder_three"
                                                       id="placeholder_three" placeholder="Enter Your Placeholder 3">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="placeholder_four" class="form-label">Placeholder 4</label>
                                                <input type="text" class="form-control" name="placeholder_four"
                                                       id="placeholder_four" placeholder="Enter Your Placeholder 4">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Image</label>
                                        <input class="form-control" type="file"
                                               id="image_value"
                                               accept=".png, .jpg, .jpeg"
                                               name="image_value"
                                               onchange="encodeImageFileAsURL(this);">
                                        <input type="hidden" name="image_placeholder" id="image_placeholder">
                                    </div>


                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between border border-3   rounded align-items-center px-2 py-1">
                                            <h6 class="fw-bolder m-0" id="template_data_add"></h6>
                                            <i class="mdi mdi-checkbox-marked-circle fs-3 text-success"></i>
                                        </div>
                                        <input type="hidden" name="csv_file_name" id="csv_file_name">
                                        <input type="hidden" name="action" id="add_student" value="add_student">
                                    </div>


                                    <div>
                                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
         aria-hidden="true">
        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="modal-title-notification">A new experience, personalized
                        slide time play.</p>
                </div>
                <div class="modal-body">
                    <div class="py-3 text-center">
                        <label for="student_name">Time in Sec #</label>
                        <input class="inputNumber" type="number" id="time_column" name="time_column" min="1" max="5">


                        <h2 class="h4 modal-title my-3">Input Duration of Slide!</h2>
                        <p>This time is preview of per slide time.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="setTimeFunction()">Set Time
                    </button>
                </div>


            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
{% endblock content %}

{#<!-- Specific Page JS goes HERE  -->#}
{% block extra_javascript %}


    <script>
        var dragSrcEl = null;

        function handleDragStart(e) {
            // Target (this) element is the source node.
            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.outerHTML);
            {#alert(JSON.stringify(e))#}
            this.classList.add('dragElem');
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault(); // Necessary. Allows us to drop.
            }
            this.classList.add('over');

            e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

            return false;
        }

        function handleDragEnter(e) {
            // this / e.target is the current hover target.
        }

        function handleDragLeave(e) {
            this.classList.remove('over');  // this / e.target is previous target element.
        }

        function handleDrop(e) {
            // this/e.target is current target element.

            if (e.stopPropagation) {
                e.stopPropagation(); // Stops some browsers from redirecting.
            }

            // Don't do anything if dropping the same column we're dragging.
            if (dragSrcEl != this) {
                // Set the source column's HTML to the HTML of the column we dropped on.
                //alert(this.outerHTML);
                //dragSrcEl.innerHTML = this.innerHTML;
                //this.innerHTML = e.dataTransfer.getData('text/html');
                this.parentNode.removeChild(dragSrcEl);
                var dropHTML = e.dataTransfer.getData('text/html');
                this.insertAdjacentHTML('beforebegin', dropHTML);
                var dropElem = this.previousSibling;

                {#alert(JSON.stringify(dropElem.nextSibling.id))#}
                current_element_id = dropElem.id
                after_element_id = dropElem.nextSibling.id
                console.log(after_element_id)
                current_index = data.map(function (o) {
                    return o.id;
                }).indexOf(parseInt(current_element_id))

                new_index = data.map(function (o) {
                    return o.id;
                }).indexOf(parseInt(after_element_id)) - 1
                console.log("Current Index: " + current_index + ", New Index: " + new_index)
                {#for (var i=0; i<data.length;i++){#}
                {#      data.indexOf(std => std.id === current_element_id)#}
                console.log("BEFORE: " + JSON.stringify(data.map(value => value.name)))
                var element = data[current_index];
                data.splice(current_index, 1);
                data.splice(new_index, 0, element);
                console.log("After: " + JSON.stringify(data.map(value => value.name)))

                {#data = data#}
                {#a}a#}
                addDnDHandlers(dropElem);

            }
            this.classList.remove('over');
            return false;
        }

        function handleDragEnd(e) {
            // this/e.target is the source node.
            this.classList.remove('over');
            {#alert(JSON.stringify(e))#}

            /*[].forEach.call(cols, function (col) {
              col.classList.remove('over');
            });*/
        }

        function addDnDHandlers(elem) {
            {#alert(JSON.stringify(elem))#}
            elem.addEventListener('dragstart', handleDragStart, false);
            elem.addEventListener('dragenter', handleDragEnter, false)
            elem.addEventListener('dragover', handleDragOver, false);
            elem.addEventListener('dragleave', handleDragLeave, false);
            elem.addEventListener('drop', handleDrop, false);
            elem.addEventListener('dragend', handleDragEnd, false);

        }

        var cols = document.querySelectorAll('#scrollableDiv .draggable');
        [].forEach.call(cols, addDnDHandlers);


    </script>
    <script>

        var isAutoPlay = false;
        var intevalID = -1
        var inputTime = 0;

        function setTimeFunction() {
            inputTime = document.getElementById("time_column").value;

        }

        function changeAutoplayState() {
            var button_play = document.getElementById("playButton");
            if (isAutoPlay === true) {
                button_play.innerText = "Autoplay: On";
            } else {
                button_play.innerText = "Autoplay: Off";
            }
            if (isAutoPlay) {
                clearInterval(intevalID)
            }
            isAutoPlay = !isAutoPlay
            if (isAutoPlay) {
                if (inputTime === 0) {
                    intevalID = setInterval(autoPlaySlides, 5000);
                } else {
                    var Time = inputTime * 1000;
                    intevalID = setInterval(autoPlaySlides, Time);
                }
            }
        }

        function autoPlaySlides() {
            console.log("AUTOPLAY METHOD CALLED, STATE = " + isAutoPlay)
            if (isAutoPlay) {
                nextPage();
            }
        }

        function scrollIfNeeded(element, container) {
            {#const scrollBottom = container.scrollTop + container.offsetHeight;#}

            if (element.offsetTop < container.scrollTop) {
                container.scrollTop = element.offsetTop;
            } else {
                const offsetBottom = element.offsetTop + element.offsetHeight;
                const scrollBottom = container.scrollTop + container.offsetHeight;
                if (offsetBottom > scrollBottom) {
                    container.scrollTop = offsetBottom - container.offsetHeight;
                }
            }
        }

        function changeActiveStudent(studentID) {
            $('li.active').removeClass('active');
            $("#" + studentID).addClass('active');
            scrollIfNeeded(document.getElementById(studentID), document.getElementById('scrollableDiv'));

        }
    </script>
    <script>
        function searchFunction() {
            var input, filter, ol, li, a, i, txtValue;
            input = document.getElementById('student_nameSearch');
            filter = input.value.toUpperCase();
            ol = document.getElementById("scrollableDiv");
            li = ol.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        function sortListDir() {
            var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
            list = document.getElementById("scrollableDiv");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            // Make a loop that will continue until no switching has been done:
            while (switching) {
                // start by saying: no switching is done:
                switching = false;
                b = list.getElementsByTagName("LI");
                // Loop through all list-items:
                for (i = 0; i < (b.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /* check if the next item should switch place with the current item,
                    based on the sorting direction (asc or desc): */
                    if (dir == "asc") {
                        if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                            /* if next item is alphabetically lower than current item,
                            mark as a switch and break the loop: */
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
                            /* if next item is alphabetically higher than current item,
                            mark as a switch and break the loop: */
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                    // Each time a switch is done, increase switchcount by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>

    <script>
        {#let dropdown_data = JSON.parse('{{uploaded_csv_files|escapejs}}'.replace(/'/g, '"'));#}
        let dropdown_data = eval('{{uploaded_csv_files|escapejs}}');
        console.log("DROPDOWN DATA: " + JSON.stringify(dropdown_data))
    </script>
    <script>


        /* Get the element you want displayed in fullscreen mode (a video in this example): */
        var elem = document.getElementById("slides_div");

        /* When the openFullscreen() function is executed, open the video in fullscreen.
        Note that we must include prefixes for different browsers, as they don't support the requestFullscreen method yet */
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }


        async function speakerWindowHandler() {
            window.open(
                "/transcribe.html",
                "_blank",
                "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=500,height=400",
            );

            await sleep(500);
            sysend.broadcast("increment", data[currentPage - 1]);

        }

        async function speakerSlideHandler(render_page_name) {
            window.open(
                "/fullscreen_slide_view?template_type=" + render_page_name + "&template_id=" + '{{ custom_css.id }}',
                "_blank",
                "fullscreen=yes, width =" + screen.width + ", height=" + screen.height,
            );

            await sleep(500);
            sysend.broadcast("increment", data[currentPage - 1]);
        }


    </script>


    <script type="text/javascript">
        $(document).ready(function (e) {
            var student_name = document.getElementById("student_name");
            var student_major = document.getElementById("student_major");
            var student_school = document.getElementById("student_school");
            var student_honors = document.getElementById("student_honors");
            var student_img = document.getElementById("student_img");
            if (student_name) {
                student_name.innerText = data[0].name;

            }
            document.getElementById("student_id").value = data[0].id;
            changeActiveStudent(data[0].id);
            if (student_major) {
                student_major.innerText = data[0].major;

            }
            if (student_school) {
                student_school.innerText = data[0].quote;

            }
            if (student_honors) {
                student_honors.innerText = data[0].honor;

            }
            if (student_img) {
                if (data[0].image != "") {
                    student_img.setAttribute("src", data[0].image)
                }
            }


        });
    </script>
    <script>
        window.onload = function () {
            const slideTemplateCard = document.getElementById('slideTemplateCard');
            const style = getComputedStyle(slideTemplateCard);
            parentWidth = parseInt(style.width, 10);
            parentHeight = parseInt(style.height, 10);
            let scaleFactor = Math.trunc(((1 / Math.max(1920 / parentWidth, 1080 / parentHeight)) - 0.01) * 100);
            document.getElementById('slides_div').style.zoom = `${scaleFactor}%`;
            heightSetStudentListing();

        };

        function heightSetStudentListing() {
            const slideTemplateCard = document.getElementById('slideTemplateCard');
            const studentListingCard = document.getElementById('studentListingCard');
            const listingHeight = document.getElementById('listingHeight');
            const style = getComputedStyle(slideTemplateCard);
            parentHeight = parseInt(style.height, 10);
            if (parentHeight === 706) {
                listingHeight.style.height = `${parentHeight / 1.6}px`;
            } else {
                listingHeight.style.height = `${parentHeight / 2.5}px`;
            }
            studentListingCard.style.height = `${parentHeight}px`;


        }

        window.addEventListener('resize', function () {
                const slideTemplateCard = document.getElementById('slideTemplateCard');
                const studentListingCard = document.getElementById('studentListingCard');
                const style = getComputedStyle(slideTemplateCard);
                parentWidth = parseInt(style.width, 10);
                parentHeight = parseInt(style.height, 10);

                let scaleFactor = Math.trunc(((1 / Math.max(1920 / parentWidth, 1080 / parentHeight)) - 0.01) * 100);
                document.getElementById('slides_div').style.zoom = `${scaleFactor}%`;
                studentListingCard.style.height = `${parentHeight}px`;
                heightSetStudentListing();
            }
        )
    </script>
    <script>
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById("image_placeholder").value = reader.result
            }
            reader.readAsDataURL(file);
        }

        const selectData = document.getElementById('file_name_filter').value;
        const heading = document.getElementById('template_data_add');
        const csv_name = document.getElementById('csv_file_name');
        heading.innerText = selectData;
        csv_name.value = selectData;
    </script>
{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/slidesView.css' %}">

{% endblock %}