{% extends "partials/base.html" %}

{% load static %}

{% block title %} Slides {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card-deck-wrapper">
                <div class="card-group">
                    <div class="card m-4">
                        <a href="./customize_full_template?render_page=lower_third" class="card-text">
                            <img class="card-img-top img-fluid" src="media/lower_third.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Lower Thirds</h4>
                                <h6 class="card-text">Lower thirds design templates mainly utilized in broadcasting of
                                        ceremonies.</h6>
                                <p class="card-text">
                                    <small class="text-muted">Click to Create Customized Lower Third Templates</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card m-4">
                        <a href="./customize_full_template?render_page=full_template" class="card-text">
                            <img class="card-img-top img-fluid " src="media/full_template.jpg"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Full Template</h4>
                                <h6 class="card-text">Full design templates containing information to be displayed on
                                        main screens like Jumbotron etc.</h6>
                                <p class="card-text">
                                    <small class="text-muted">Click to Create Customized Full Templates</small>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_javascript %}
    <!-- masonry pkgd -->
    <script src="{% static 'libs/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>

{% endblock %}
<!-- Specific Page CSS goes HERE  -->
