{% extends "partials/base.html" %}

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}
     <div class="card p-4">
            <div class="d-flex justify-content-between ">
                <div class="search-box me-2 w-25">
                    <div class="position-relative">
                        {#                        <input type="text" class="form-control border-0" placeholder="Search..."#}
                        {#                               style="background-color: #F3F3F9">#}
                        {#                        <i class="bx bx-search-alt search-icon"></i>#}
                        <h4> Design new template here</h4>
                    </div>
                </div>
                <a href="/select_customize_slides.html">
                    <button type="submit" class="btn btn-dark waves-effect ">
                        <i class="bx bx-plus-circle font-size-16 align-middle me-2"></i> New Template
                    </button>
                </a>
            </div>
        </div>
    {% if custom_css_list %}

        <div class="row justify-content-around">
            {% for custom_css_item in custom_css_list %}

                <div class="col-xl-4 col-sm-6 p-4">

                    <div class="card">
                        <div class="card-body">
                            <div>
                                <img src="{{ custom_css_item.image }}" alt="Template Picture" class="w-100 shadow"/>

                                <h5 style="font-size: 25px;  margin-top: 20px">{{ custom_css_item.template_name }}</h5>

                                <div class="px-4 py-3 border-top">
                                    {% if custom_css_item.template_type == "lower_third" %}
                                        <div class="d-flex flex-row justify-content-between align-items-center pt-2">
                                            <p style="background-color: #607D8B"
                                               class="text-white p-1 px-3 rounded-3 m-0">
                                                Lower Third
                                            </p>
                                            <p class="list-inline-item m-0">
                                                <i class="bx bx-calendar "></i> 15 Oct, 19
                                            </p>
                                            <div class="dropdown mb-0">
                                                <a class="btn btn-link text-muted mt-n2" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true">
                                                    <i class="mdi mdi-dots-vertical font-size-20"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item"
                                                       href="/customize_full_template?render_page={{ custom_css_item.template_type }}&&template=edit&&template-id={{ custom_css_item.id }}">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>

                                                </div>
                                            </div>
                                        </div>

                                    {% else %}
                                        <div class="d-flex flex-row justify-content-between align-items-center pt-2">
                                            <p style="background-color: #FF9802"
                                               class="text-white p-1 px-3 rounded-3 m-0">
                                                Full Template
                                            </p>
                                            <p class="list-inline-item m-0">
                                                <i class="bx bx-calendar "></i> 15 Oct, 19
                                            </p>
                                            <div class="dropdown mb-0">
                                                <a class="btn btn-link text-muted mt-n2" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true">
                                                    <i class="mdi mdi-dots-vertical font-size-20"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item"
                                                       href="/customize_full_template?render_page={{ custom_css_item.template_type }}&&template=edit&&template-id={{ custom_css_item.id }}">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>

                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade " id="modal-{{ data.org_id }}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content p-4 w-75 ">

                                <div>
                                    <h4 class="fw-bold">Edit Organizations</h4>
                                    <p class="text-gray-100">
                                        You can change the name of organization.
                                    </p>
                                    {#                                            <h6 class="text-primary fw-bolder"> Read Carefully</h6>#}

                                </div>


                                <div class="modal-body ">
                                    <form id="form-0" name="organization_listing" method="post" action=""
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            <div class="d-flex justify-content-between border border-3   rounded align-items-center px-2 py-1">
                                                <h5 class="fw-bolder m-0">{{ data.name }} </h5>
                                                <i class="mdi mdi-checkbox-marked-circle fs-3 text-success"></i>
                                            </div>
                                            <div class="py-2">
                                                <label class="form-label text-primary">Organization Name</label>
                                                <input class="form-control " type="text"
                                                       name="update_name" value="{{ data.name }} "
                                                       id="update_name" required>
                                            </div>
                                            <input type="hidden" name="organization_id"
                                                   value="{{ data.org_id }}">
                                            <input type="hidden" name="organization_name"
                                                   value="{{ data.name }}">
                                            <input type="hidden" name="action" value="update_organization_name">
                                            <button class="w-100 btn btn-primary"
                                                    id="form_button"
                                            >Update
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% endif %}

{% endblock content %}

