{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
    {% include 'partials/css.html' %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-4">Add Product</h3>
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="outer">
                            <div class="outer">
                                <div class="mb-3">
                                    <label for="name">Name :</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="Enter Product Name">
                                </div>
                                <div class="mb-3 ml-0">
                                    <label class="d-block mb-3">Dimensions :</label>
                                    <div class="form-check-inline  mb-3">
                                        <input type="text" class="form-control" id="height" name="height"
                                               placeholder="Height">
                                    </div>
                                    <div class="form-check-inline  mb-3">
                                        <span class="form-check-inline  mb-3">x</span>
                                    </div>


                                    <div class="form-check-inline  mb-3">
                                        <input type="text" class="form-control" id="width" name="width"
                                               placeholder="Width">
                                    </div>

                                    <div class="form-check-inline  mb-3">
                                        <span class="form-check-inline  mb-3">x</span>
                                    </div>

                                    <div class="form-check-inline  mb-3">

                                        <input type="text" class="form-control" id="length"
                                               name="length"
                                               placeholder="Length">
                                    </div>
                                </div>

                                <div class="mb-3 ml-0 col-lg-12">
                                    <label class="d-block mb-3">Weight :</label>
                                    <div class="form-check-inline  mb-3 col-lg-1">
                                        <input type="text" class="form-control" id="weight"
                                               name="weight"
                                               placeholder="Weight">

                                    </div>
                                    <div class="form-check-inline  mb-3 col-lg-1">
                                        <select id="weight_unit" name="weight_unit" class="form-select">
                                            <option>kg</option>
                                            <option>lbs</option>
                                            <option>oz</option>
                                        </select>
                                    </div>


                                </div>

                                <div class="mb-3 col-lg-2">
                                    <label for="product_image">Product Image:</label>
                                    <input type="file" class="form-control" id="product_image" name="product_image"
                                           accept="image/png, image/jpeg, image/jpg">
                                </div>


                                <div class="mb-3 col-lg-12">
                                    <label for="description">Product Description:</label>
                                    <textarea id="description" name="description"
                                              class="form-control" rows="3"
                                              placeholder="Enter Product Description"></textarea>
                                </div>


                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

{% endblock %}

{% block extra_javascript %}

{% endblock %}